// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status {
	border-bottom: solid 1px solid #fff ;
	padding: 0px 10px;

}
.status p {
margin: 4px 4px;
}
.status:hover
{
	background: #f7f7f7;
}
.status .admin {
	display: none ;
}
.status:hover .admin {
	display: inline ; 
}